@media screen and (min-width: 768px) {
    .button:hover {
        transform: scale(1.1);
    }

    .button:active {
        transform: scale(1);
        filter: brightness(0.2);
    }

    .button:not(:hover) {
        transform: scale(1);
    }
}



.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.bold {
    font-weight: bold;
}

.light {
    font-weight: light;
}

.small {
    font-size: 8pt;
}

.large {
    font-size: 12pt;
}

html {
    transition-duration: 0.5s;
    user-select:none;
}

body {
    display: flex;
    background: #2e3740;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 25px;
}

.clicks-count {
    padding: 10px;
    background: #212a33;
    border-radius: 15px;
    margin-bottom:35px;
}

.clicks-count span {
    margin: 0;
    padding: 0;
}

.button {
    border-radius: 100%;
    /*background: #212a33;*/
    transition-duration: 0.5s;
}

.button:active {
    transform: scale(1);
    filter: brightness(0.9);
}