@media screen and (max-width:1024px) {
    body {
        background: scroll url("/backgrnd.jpg");
    }

    .mobile-hide {
        display: none;
    }
}

@media screen and (min-width:1024px) {
    body {
        background: fixed url("/backgrnd.jpg");
    }
}

body {
    font-family: "Arial", Georgia, Serif;
}

.background {
            position: absolute;
            height: 100%;
            width: 100%;
            background-image: url("/backgrnd.jpg");
            background-size: cover;
            background-position: center;
            filter: blur(10px);
            z-index: -1;
        }

p {
    color: black;
}