@media screen and (max-width:1024px) {
    body {
        background: scroll url("/backgrnd.jpg");
    }

    .mobile-hide {
        display: none;
    }
}

@media screen and (min-width:1024px) {
    body {
        background: fixed url("/backgrnd.jpg");
    }
}

body {
    display: flex;
    overflow-x:hidden;
    justify-content: center;
    align-items: center;
    font-family: "Arial", sans-serif;
}

.background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("/backgrnd.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
}